<div id="gif-list">
    <div class="header">
        <h4 class="center white-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis nam incidunt deleniti accusantium facere officiis sit nisi quidem.</h4>

        <div class="search-list">
            <hr>
            <span class="search-item">
                Morango
                <i class="material-icons">close</i>
            </span>
            <hr>
        </div>
    </div>

    <div class="content">
        <div class="row">
            <div class="col s4">
                <app-gif-item *ngFor="let gif of gifList1;" [gif]="gif"></app-gif-item>
            </div>
            <div class="col s4">
                <app-gif-item *ngFor="let gif of gifList2;" [gif]="gif"></app-gif-item>
            </div>
            <div class="col s4">
                <app-gif-item *ngFor="let gif of gifList3;" [gif]="gif"></app-gif-item>
            </div>
        </div>
    </div>
</div>