<ul id="sidebar">
  <li class="sb-header">
    <!-- <img src="" alt=""> -->

  </li>
  <li>Animals</li>
  <li>Holidays</li>
  <li>Food & Drink</li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<div id="sidebar">
  <div class="sb-header">
    <h2 class="title" data-text="GIFORU">GIFORU</h2>
  </div>

  <div class="collection">
    <a href="javascript:void(0)" class="collection-item" (click)="listItemClicked($event)">
      Fails
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Sass
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Gaming
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item active">
      Angular 4
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Animais
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Angular Material
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Cartoons
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Materialize
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Hard Code
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Anime
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      HTML & CSS
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" class="collection-item">
      Space
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
</div>