<div id="sidebar">
  <div class="sb-header">
    <h2 class="title" data-text="GIFORU">GIFORU</h2>
  </div>

  <div class="nav-wrapper">
    <form id="form-search">
      <div class="input-field">
        <input id="search" type="search" name="search-input" [(ngModel)]="search" autocomplete="false" required>
        <label class="label-icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <i class="material-icons" (click)="cleanSearch()">close</i>
      </div>
    </form>
  </div>

  <div class="collection">
    <a href="javascript:void(0)" (click)="searchTheseGifs('fails')" class="collection-item">
      Fails
      <i class="material-icons selected">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('Gaming')" class="collection-item">
      Gaming
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('Animals')" class="collection-item">
      Animais
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('CSS')" class="collection-item">
      CSS
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('Cartoons')" class="collection-item">
      Cartoons
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('HardCode')" class="collection-item">
      HardCode
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('Anime')" class="collection-item">
      Anime
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('HTML')" class="collection-item">
      HTML
      <i class="material-icons">chevron_right</i>
    </a>
    <a href="javascript:void(0)" (click)="searchTheseGifs('Space')" class="collection-item">
      Space
      <i class="material-icons">chevron_right</i>
    </a>
  </div>
</div>